/* .item {
    min-height: 10rem;
    width: 33%;
    padding: 40px;
    margin-left: 80px;
}

.inner-carousel {
    display: flex;
}

.item img {
    pointer-events: none;
    width: 700px;
}

.carousel {
    cursor: grab;
    overflow: hidden;
}

.left-posi {
    left: -30px;
    bottom: 250px;
    z-index: 999;
} */

.content {
    height: 100vh;
}

.text-content {
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 5px 15px;
    transform: translate(-50%, -50%);
    background: rgba(128, 128, 128, 0.186);
    color: white;
    border-radius: 20px;
    font-size: 50px;
}

.App {
    object-fit: cover;
}