    * {
        font-family: 'Amiri', serif;
    }
    
    h1 {
        font-size: 5em !important;
        font-family: 'Amiri', serif;
    }
    
    .space {
        height: 9rem;
    }
    
    .middle {
        margin-top: 150px!important;
    }
    
    .mn {
        font-size: 4.5rem;
        left: -50px;
    }
    
    h6 {
        left: 15px;
    }
    
    hr {
        border-top: 3px solid black !important;
        opacity: 100% !important;
    }
    
    h2 {
        font-size: 4em !important;
        font-family: 'Amiri', serif;
    }
    
    .img-boots {
        padding: 90px 70px;
        border-radius: 50px;
        background-color: rgb(155, 206, 243) !important;
    }
    
    .img1 {
        padding-left: 50px;
    }
    
    .img-boots img {
        position: relative;
        right: 100px;
        filter: grayscale(100%);
        transition: filter 0.25s;
        /* right: 10px; */
    }
    
    .img-boots img:hover {
        filter: grayscale(0);
    }
    
    .experience {
        font-family: 'Amiri', serif !important;
        font-size: 1.1em;
    }
    
    .icons-middle img {
        margin-left: 100px;
    }
    
    .space2 {
        height: 5rem;
    }
    
    .pspace p {
        padding-top: 25px;
        font-family: 'Amiri', serif;
        font-size: 1.3em;
    }
    
    .pspace h5 {
        opacity: 50%;
    }
    
    .imagelayer {
        width: 551px;
        height: 640px;
        bottom: 90px !important;
        /* object-fit: cover; */
        margin-bottom: 50px;
        position: relative;
        z-index: 99;
        /* background-blend-mode: multiply; */
    }
    
    .Img {
        height: 100%;
        width: 100%;
    }
    
    .img-boots1 {
        width: 35%;
    }
    
    .img-html {
        position: relative
    }
    
    .img-html {
        width: 150px;
    }
    
    .body {
        background-image: linear-gradient(rgb(246, 235, 230), rgb(174, 225, 249));
    }
    
    .experience h2:hover {
        background-color: rgb(230, 232, 232);
        transition-duration: 1s;
    }
    /* .typing {
    margin-left: 10px;
    position: relative;
} */
    
    .typing::after {
        position: absolute;
        content: "";
        width: 3%;
        height: 11%;
        border-right: 2px solid black;
        right: 450px;
        animation: blink 0.5s infinite ease;
    }
    
    @keyframes blink {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .section-bio {
        font-size: 1.2em;
    }
    
    opa img {
        position: absolute;
        left: 90%;
        opacity: 80%;
    }
    
    .space-pro2 {
        margin-left: 300px;
    }
    
    .space-pro3 {
        margin-left: 300px;
    }
    
    .space-pro1 {
        margin-left: 70px;
    }
    
    .space-pro {
        padding-top: 20px;
        color: rgb(0, 0, 0);
        font-size: 1.1em;
    }
    
    video {
        width: 100%;
    }
    
    .img-puzzle {
        transition: transform .2s;
    }
    
    .img-puzzle :hover {
        transform: scale(0.5);
    }